<html xmlns:th="http://thymeleaf.org">
<head>
<head>
<title>Specific Transaction</title>
<link rel="stylesheet" href="/css/transactions.css" />
</head>
<body>


	<div>

		<form>
			<h1>
				Transaction ID: <span th:text="${specificTransaction.id}"> </span> <span
					th:if="${specificTransaction.type=='D'}">(Debit) </span> <span
					th:if="${specificTransaction.type=='C'}"> (Credit) </span>

			</h1>
			<p style="margin-bottom: 0em">
				Date: <span th:text="${specificTransaction.date}"> </span>
			<p style="margin-bottom: 0em">
				Amount: <th:if="${specificTransaction.type=='C'}" th:text="${-specificTransaction.amount}"> </span>
			<p style="margin-bottom: 0em">
				Description: <span th:text="${specificTransaction.description}">
				</span>

			</p>


			<a th:href="@{/transactions}"> back</a>
		</form>
	</div>

</body>


</html>